<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{{ title }} || Asterix </title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'accounts/default/css/boot_css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'accounts/css/main/coverpage.css' %}" rel="stylesheet">
    <link href="{% static 'accounts/css/assests/new_form.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="addToNav navbar navbar-expand-md navbar-dark fixed-top bg-light" >
      <a class="rixTextLogo navbar-brand h3" style="color: black" href="#">Asterix</a>
      <button style="color: black" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        &nbsp &nbsp 
      <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class=" rixHover nav-link" href="#" style="color: black">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="rixHover nav-item">
            <a class="nav-link" href="#" style="color: black">Featues</a>
          </li>
          <li class="nav-item">
            <a class="rixHover nav-link" data-toggle="modal" data-target="#menuModel3" href="#" style="color: black">Contact</a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something here</a>
            </div>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <h5><a href="{% url 'accounts:login' %}" class="addToLink">Login</a></h5>&nbsp &nbsp 
          <button class="rixBtn rixBtn-outline btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
      </div>
    </nav>

      {% block content %}

      {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'accounts/js/main/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'accounts/js/main/vendor/popper.min.js' %}"></script>
    <script src="{% static 'accounts/js/main/bootstrap.min.js' %}"></script>
  </body>
</html>