<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LOGED IN</title>
  </head>
  <body>
    <h1>all is Success</h1>
    <a href="{% url 'logout' %}">Log out</a>
  </body>
</html>
