{% extends "login_base.htm" %}


{% block content %}
{% include "accounts/form.html" with form=form %}




<!--<form class="form-signin" style="margin-top: 30px">
      <div class="text-center mb-4">
        <!- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <!--<h1 class="h3 mb-3 font-weight-normal">Login </h1>
        <p>ENTER YOUR DETAILS </p>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p>&copy; Asterix added - 2019</p>
    </footer>
    </form>-->
{% endblock %}
