* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
@media screen and (max-width: 375px) and (min-width: 321px) {
	.background {
		background-color: rgba(16, 14, 23,0.95);
		margin:0;
		padding:0;
	}
	.leftcontainer {
		margin-left: 18px;
	}
	.postscard {
		width: 100%;
		padding: 20px 20px 20px 0;
		height: auto !important;
	}
	.category {
		font: Arial;
		font-size: 16px;
		color: #fff;
	}
	.time {
		font: Arial;
		font-size: 14px;
		color: #808080;
	}
	.title {

	}
}