/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.addToNav {
  color: black;
  border-bottom: 0.25rem solid;
  border-color: #753a88;
  border-image: -webkit-radial-gradient(#753a88 0%, #cc2b5e 100%);
  /*-webkit-linear-gradient(right,#753a88, #cc2b5e);*/
  border-image-slice: 1;
}
.addToLink {
    text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  color: black;
  line-height: 1.0;
}
.addToLink:hover, 
.addToLink:focus {
  font-size: 22px;
  top: 0;
  left: 0;
  position: initial;
  font-weight: bold; 
  text-decoration: none;
  background: -webkit-linear-gradient(bottom right, #cc2b5e 0%, #753a88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rixTextLogo {
  font-weight: bold; 
  font-size: 1.5em;
  letter-spacing: 2px;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom right, #cc2b5e 0%, #753a88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rixHover:hover,
.rixHover:focus {
  top: 0;
  left: 0;
  position: inherit;
  font-weight: bold; 
  text-decoration: none;
  background: -webkit-linear-gradient(bottom right, #cc2b5e 0%, #753a88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rixBtn {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(bottom right, #cc2b5e 0%, #753a88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.25rem solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.rixBtn:hover {
  cursor: pointer;
  border: 0.25rem solid transparent;
  background: -webkit-linear-gradient(bottom right,#753a88, #cc2b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 0;
  left: 0;
  position: initial;
  text-decoration: none;
}
.rixBtn-outline {
  border-image: -webkit-linear-gradient(bottom right,#753a88, #cc2b5e);
  border-image-slice: 1;
}
/*
.rixBtn-outline:hover,
.rixBtn-outline:focus {
  border: none;
  background-image: linear-gradient(right,#753a88, #cc2b5e);
 background-color: #753a88;
  background: linear-gradient(right,#753a88, #cc2b5e);
}*/
.rixInfoText {
  letter-spacing: 5px;
  font-weight: lighter;
  background: -webkit-linear-gradient(left,#753a88 , #ee9ca7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.preva, .nexta {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.preva {
  position: absolute;
  float: left;
  left: 0;
  border-radius: 3px 0 0 3px;
}
.nexta {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.preva:hover, .nexta:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  padding-bottom: 30px;
  background: transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: dodgerblue;}