{% extends 'acct_base.html' %}
{% load static %}
<!-- TITLE CONTENT -->

{% block title %}
<title>Asterix || Register </title>
{% endblock %} 

<!-- BODY CONTENT -->

{% block body %}

    		<header class="asterix-header">
				<h1>ASTERIX <span>Sign up here</span></h1>
			</header>

			<div class="container">
    		<section class="content">
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="fname" autocomplete="off" />
					<label class="input__label input__label--hoshi input__label--hoshi-color" for="first_name">
						<span class="input__label-content input__label-content--hoshi">First Name</span>
					</label>
				</span>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="lname" autocomplete="off" />
					<label class="input__label input__label--hoshi input__label--hoshi-color" for="last_name">
						<span class="input__label-content input__label-content--hoshi">Last Name</span>
					</label>
				</span>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="username" autocomplete="off" />
					<label class="input__label input__label--hoshi input__label--hoshi-color" for="username">
						<span class="input__label-content input__label-content--hoshi">username</span>
					</label>
				</span>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="email" id="email" autocomplete="off" />
					<label class="input__label input__label--hoshi input__label--hoshi-color" for="email">
						<span class="input__label-content input__label-content--hoshi">Email</span>
					</label>
				</span>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="tell" autocomplete="off" />
					<label class="input__label input__label--hoshi input__label--hoshi-color" for="telephone">
						<span class="input__label-content input__label-content--hoshi">Telephone</span>
					</label>
				</span>
				<section class="section">
				<select class="cs-select cs-skin-elastic">
					<option value="" disabled selected>Gender</option>
					<option value="male" data-class="flag-france">Male</option>
					<option value="female" data-class="flag-brazil">Female</option>
				</select>
			</section>
				<div class="line">
					<p>School Details <span> <a href="#" >Why is this?</a></span></p>
				</div>
				<hr>
				<section class="section">
				<select class="cs-select cs-skin-elastic">
					<option value="" disabled selected>Select a Country</option>
					<option value="france" data-class="flag-france">France</option>
					<option value="brazil" data-class="flag-brazil">Brazil</option>
					<option value="argentina" data-class="flag-argentina">Argentina</option>
					<option value="south-africa" data-class="flag-safrica">South Africa</option>
				</select>
			</section>
				<hr>
				<hr>
				<section class="section">
				<select class="cs-select cs-skin-elastic">
					<option value="" disabled selected>Select a Country</option>
					<option value="france" data-class="flag-france">France</option>
					<option value="brazil" data-class="flag-brazil">Brazil</option>
					<option value="argentina" data-class="flag-argentina">Argentina</option>
					<option value="south-africa" data-class="flag-safrica">South Africa</option>
				</select>
			</section>
				<hr>
				<div class="line">
					<p>Secure yourself <span> <a href="#" >Why is this?</a></span></p>
				</div>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="password" id="pwd" />
					<label class="input__label input__label--hoshi input__label--hoshi-color" for="password">
						<span class="input__label-content input__label-content--hoshi">Password</span>
					</label>
				</span>
			</section>
		</div>

 {% endblock %}