{% extends 'base.html' %}

<!-- TITLE CONTENT -->

{% block title %}
<title>Asterix || Register </title>
{% endblock %} 

<!-- BODY CONTENT -->

{% block body %}
    
    <h1>sign up form here</h1>
    <form method="POST">
    	{%  csrf_token %}
    {{form}}
    <input type="submit" value="Sign Up">
	</form>

{% endblock %}