
<!doctype html>
<html lang="en">
  <head>
  	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{{ my_title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'accounts/default/css/boot_css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'accounts/css/main/coverpage.css' %}" rel="stylesheet">
  </head>

  <body class="text-center" id="#home">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Asterix</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#home">Home</a>
            <a class="nav-link active" href="#">Features</a>
            <a class="nav-link" href="#">Login</a>
            <a class="nav-link" href="#">Sign up</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ title }}</h1>
        <p class="lead">

            <!-- Slideshow container -->
            <div class="slideshow-container">

              <!-- Full-width slides/quotes -->
              <div class="mySlides">
                <q>I've built this website to assist you all in your academic period though your stay in <strong>FUPRE</strong>.</q>
                <p class="author">- Scofield WhiteFire</p>
              </div>

              <div class="mySlides">
                <q>The wesite runs on a <strong>Django 2.2 </strong>version and bootstrap alone side <strong>Angular</strong> in accompanied with some javascript</q>
                <p class="author">- Scofield WhiteFire</p>
              </div>

              <div class="mySlides"><q>The design and stucture was done from strach with hand by <strong>darksnow</strong></q>
                <p class="author">- Scofield whiteFire</p>
              </div>

              <!-- Next/prev buttons -->
              <a class="preva" onclick="plusSlides(-1)">&#10094;</a>
              <a class="nexta" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <!-- Dots/bullets/indicators -->
            <div class="dot-container">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
          </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Asterix || Brought to you by <a class="footerlink" href="https://getbootstrap.com/">Maroon Ent. Group</a> , Design & Coded by <a class="footerlink" href="https://twitter.com/mdo">ScofieldTECH.INC</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="{% static 'accounts/js/main/coverpage.js' %}"></script>
  </body>
</html>
