<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/assets/css/style.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'posts/assets/css/bootstrap_theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/assets/css/style.css' %}" />-->
    {% block title %}
    <title>Base</title>
    {% endblock %}
</head>
<body>
	{% block body %}
    <h4>Base.html</h4>
    {% endblock %}
</body>
</html>