<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'accounts/assets/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/assets/vendor/nouislider/nouislider.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'accounts/main/css/form/form.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/main/normalize.css' %}">

    <!-- Jquery code import -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    {% block title %}
    <title>Base</title>
    {% endblock %}
</head>
<body>

	{% block body %}
    <h4>ACCOUNT Base.html</h4>
    {% endblock %}

   <!-- JS -->
    <script src="{% static 'accounts/main/js/jquery/form/form_validate.js' %}"></script>
    <script src="{% static 'accounts/main/js/jquery/form/sform.js' %}"></script>
    <script src="{% static 'accounts/main/js/jquery/form/form.1.js' %}"></script>
    <script src="{% static 'accounts/main/js/jquery/form/form.2.js' %}"></script>
    <script src="{% static 'accounts/main/js/jquery/form/selectFx.js' %}"></script>
    <script src="{% static 'accounts/main/js/jquery/form/classie.js' %}"></script>
    <script> 
    	(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el);
				} );
			})();
    </script>

    
</body>
</html>