{% load tz %}

<h2>Post detail view page</h2>
<br>
<h3>{{ post.Title }}</h3>
<br>
<p><i>{{ post.Date | localtime }} - {{ post.Date | localtime | timesince }}</i></p>
<br>
<img src="{{ post.Image.url }}" alt="{{ post.Title }} under {{ post.Tag }}" title="Story on {{ post.Title }}" width="50%" height="50%">
<br>
<p style="widows: 50px;">{{ post.Content | safe }}</p>
<p><i>{{ post.Tag }}</i></p>

<!--Comments-->
<h4>Create a Comment</h4>

<form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <button type="submit">Add comment</button>
</form>


<!-- comment list -->
{% for comment in comments %}

    <p>{{ comment.Name }} | {{ comment.Created }}</p>
    {{ comment.Body }}
    <br>
    <pre>{{ comment.Body | linebreaks }}</pre>

    {% for reply in comment.replies.all %}
        <p>{{ reply.Name }} | {{ reply.Email }}</p>
            {{ reply.Body | linebreaks}}
    {% endfor %}

    <p>Reply</p>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="Parent_id" value="{{ comment.id }}">
            <button type="submit">Reply</button>
        </form>

{% empty %}
<p>There are <i>{{ count }}</i> comment</p>
<h4>There is no comments .....</h4>

{% endfor %}