{% extends 'base.html' %}

<!-- TITLE CONTENT -->

{% block title %}
<title>Asterix || Post </title>
{% endblock %} 

<!-- BODY CONTENT -->

{% block body %}

	<div class="background post">
		<div class="leftcontainer">
			<div class="postscard">
				<p><span class="category">Article  </span><span class="time lng">August 2, 2019.</span></p>
				<div class="title large"><h3>Using Netlify Form and Netlify function to build an Email Sign-up Widget.</h3></div>
				<div class="info">
					<span class="profile pic_sml"><img src="#"></span>
					<span class="post_info sml">
						<span class="author">Author <p>Smith Deo</p></span>
						<span class="comment">Comments <p>Go to Comments</p></span>
					</span>
					<span class="body sht">There will be a short body discription message...</span>
					<span class="time sht">25 minutes ago</span>
					<span class="tag sml">pyton</span>
					<span class="tag sml">django</span>
					<span class="tag sml">news</span>
					<span class="tag sml">css</span>
				</div>
			</div>
		</div>
	</div>


			<div class="header"><h2>Asterix || POST</h2> 
			</div>

        <h3>There are <strong>{{ count }} Post</strong> now</h3>

		<div class="row">
			<div class="leftcolum">
    {% for data in post %}
    		<a href="{% url 'posts:detail' slug=data.Slug %}">
    			<div class="card">
					<h2>{{ data.Title}}</h2>
				<p>posted aboout <i><span>{{ data.Date | timesince }} ago</span></i></p>
				<img src="{{ data.Image.url}}" alt="{{ data.Title }} under {{ data.Tag }}" title="Story on {{ data.Title }}" width="30%" height="30%">
				<p> Some Text</p>
			</div>
		</a>
        {% endfor %}
	</div>
	<div class="rightcolum">
		<div class ="card">
			<h2> About Asterix...</h2>
			<p> Some text about asterix</p>
		</div> 
	</div>

{% endblock %}