@media screen and (max-width: 375px) and (min-width: 321px) {
	/* Background */
	body {
		font-family: Arial;
		padding: 20px;
		background: #f1f1f1;
	}
	/* Header */
	.header {
		padding :30px;
		font-size: 40px;
		text-align: center;
		background: #fff;
	}
	/* Adding two equal colum that floats next to each other */
	/* left */
	.leftcolum .rightcolum {
		width: 100%;
		padding: 0;
	}
	/* Adding card effecct */
	.card {
		background: #fff;
		padding: 20px;
		margin-top: 20px;
	}
	/* clear floats after the colum */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	/*.leftcolum {
		float:left;
		width: 75%;
	}
	/* Right */
	/*.rightcolum {
		float: left;
		width: 25px;
		padding-left:20px;
	} 
	h3 {
		color: red;
	}*/